.scene {
    width: 60px;
    height: 60px;
}

.cube {
    width: 60px;
    height: 60px;
    position: relative;
    transition: transform infinite;
    transform-style: preserve-3d;
    transform: rotateY(-13deg) rotateX(17deg) rotateZ(-3deg);
}

.cube__face {
    border: 2px solid black;
    position: absolute;
    /* opacity: 0.7; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.one {
    transform: translateZ(30px);
}

.two {
    transform: translateX(-30px) rotateY(-90deg);
}

.three {
    transform: translateY(30px) rotateX(90deg);
}

.four {
    transform: translateY(-30px) rotateX(90deg);
}

.five {
    transform: translateX(30px) rotateY(90deg);
}

.six {
    transform: translateZ(-30px);
}
